# Ignore large file
test-data/IpCounterTestExtra.txt

# Ignore build outputs and IDE files
*.class
*.jar
*.war
*.iml
.idea/
.vscode/
.gradle/
target/
out/

# Ignore logs and temporary files
*.log
*.tmp
*.temp

# Ignore OS and editor system files
.DS_Store
*.swp
